// Color Pallete
$white: #ffffff;
$cyan: #d2f6fc;
$light_purple: #7984ee;
$purple: #6730ec; //background-color
$dark_purple: #280b6f;

//styling
body{
    background-color: $white;
    color: $dark_purple !important;
}

nav#nav-bar{
    background-color: $purple !important;
}

#lyric-button{
    background-color: $white !important;
    border-color: $purple !important;
    color: $purple;
    border-radius: 20px;
}

#lyric-button:hover{
    transition: 0.2s;
    background-color: $purple !important;
    color: $white;
    border-radius: 20px;
}

#track-card:hover{
    transition: 0.5s;
    -webkit-box-shadow: 2px 0px 17px -6px rgba(103,48,236,0.47) !important; 
    box-shadow: 2px 0px 17px -6px rgba(103,48,236,0.47) !important;
}

